@charset "UTF-8";

h1{
    text-align: center;
	position:relative;
	top: 60px;	
}
.back{
	background-color: #FFFF99	;
	margin: 0 0 0 1150px;
	display:block;
	font-size: 30px;
	text-decoration: none;	
	color:black;
	display: inline-block;
	border:solid  #EEEEEE	;
		border:solid  #EEEEEE	;


}
.ok{
	text-align: center;	

}
.ok2{
	color: black;
	background-color: #FFFF88	;
	text-decoration: none;
	font-size: 30px;
	border:solid  #EEEEEE	;
	
	
	position:relative;
	top: 90px;
}
p{
	text-align: center;
	position:relative;
	top: 70px;
}