@charset "UTF-8";

h1{
    text-align: center;
	position:relative;
	top: 60px;	
}
.back{
	background-color: #FFFF99	;
	margin: 0 0 0 1150px;
	display:block;
	font-size: 30px;
	text-decoration: none;	
	color:black;
	display: inline-block;
	border:solid  #EEEEEE	;

}
form{
	text-align: center;
	position:relative;
	top: 80px;
	
}
.submit{
	position:relative;
	top: 60px;

    background-color: #BBFFFF	;
	height:40px;
	width:100px;
    margin: 30px 10px 20px 10px;
    font-size: 20px;
}
p{
	text-align: center;
	position:relative;
	top: 60px;
}